<nav class="navbar navbar-expand-lg navbar-light p-2" style="background-color: #d30000;">
  <!-- <a class="navbar-brand text-light float-right" href="#"> Logout</a> -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <img class="img-logo float-right" src="assets/img/logo_light.png" alt="">
  <div class="collapse navbar-collapse" id="navbarNav"> </div>

  <a class="navbar-brand text-light float-right" routerLink="/login">
    <small><i class="fa fa-user-lock" aria-hidden="true"></i>
      Logout
    </small>
  </a>
</nav>
