table {
    width: 100%;
  }
 
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
 
  .input-80-width {
    width: 60%
  }
 
  .bg-grey {
    background-color: rgba(169, 169, 169, 0.224);
  }
  .mat-elevation-z8 {
    width: 100%
  }